.logo {
  position: fixed;
  left: 1.46%;
  right: 91.8%;
  top: 4%;
  bottom: 93.33%;
  z-index: 10;
}

.contactme {
  width: 90px;
  position: fixed;
  right: 1.50%;
  top: 5%;
  z-index: 10;
  
  -webkit-animation: rotation 10s infinite linear;
  
  &:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
