$desktop: "(min-width: 1024px)";

@mixin desktop {
  
}

.portrait {
position: absolute;
width: 42%;
height: auto;
left: 50%;
top: 20vh;


  @media screen and (max-width:1366px){
    width: 40%;
    top: 24vh;
  }
  @media screen and (max-width:1200px){
    width: 38%;
    top: 22vh;
  }
  

}

.bgtext {
  font-family: Gotham;
  font-style: normal;
  font-weight: 900;
  font-size: 128px;
  font-size: 8em;
  color: rgba(123, 150, 177, 0.3); 
  left: 8%;
  height: 132px;
  position: absolute;
  @media screen and (max-width:1200px){
    font-size: 6rem;
  }

}

.prod {
width: 670px;
top: 5%;
}

.sound {
top: 81.5%;
}


.zaius {
  font-family: Gotham;
  font-style: normal;
  font-weight: 900;
  font-size: 144px;
  font-size: 9em;
  position: absolute;
  top: 40vh;

  @media screen and (max-width:1366px){
    font-size: 8em;
  }
  @media screen and (max-width:1200px){
    font-size: 7em;
  }
  
}

.bottom {
  color: #ededed;
  z-index: -1;
}

.up {
  fill: none;
  color: transparent;
  -webkit-text-stroke: #ededed 2px;
  z-index: 2;
}

.group {
  position: relative;
  z-index: 1;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
