$desktop: "(min-width: 1024px)";

@mixin desktop {
  
}

.portrait {
position: absolute;
width: 150%;
height: auto;
left: 50%;
top: -129%;
max-width: 800px;

  @media screen and (max-width:1200px){
    width: 40vw;
    top: -13vh;
  }

}

.bgtext {
  font-family: Gotham;
  font-style: normal;
  font-weight: 900;
  font-size: 128px;
  font-size: 8em;
  line-height: normal;
  color: rgba(123, 150, 177, 0.3); 
  left: 8%;
  height: 132px;
  position: absolute;
  @media screen and (max-width:1200px){
    font-size: 6rem;
  }

}

.prod {
width: 670px;
top: 5%;
}

.sound {
top: 80%;
}


.zaius {
  font-family: Gotham;
  font-style: normal;
  font-weight: 900;
  font-size: 144px;
  font-size: 9em;
  position: absolute;
}

.bottom {
  color: #ededed;
  z-index: -1;
}

.up {
  fill: none;
  color: transparent;
  -webkit-text-stroke: #ededed 2px;
  z-index: 2;
}

.group {
  position: relative;
  width: 465.125px;
  height: 144px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  margin-top: 28%;
  z-index: 1;

}