nav {
  left: 1.50%;
  position: fixed;
  height: 100px;
  width: 68px;
  top: 43vh;
}

.sc {
width: 30px;
height: auto;

  &:hover {
    fill: black;
  }
}

.yt {
width: 30px;
height: auto;
}

.bc {
width: 30px;
height: auto;
}

li:first-child {
  height: 15px;
}

li:nth-child(2) {
  height: 22px;
}

li:last-child {
  height: 31px;
}

ul {
  height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// a:first-child {
//   height: 14px;
//   position: absolute;
// }