nav {
  left: 1.50%;
  position: fixed;
  height: 100px;
  width: 68px;
  top: 43vh;
}

.sc {
width: 30px;
height: auto;

transition: 200ms;
transition-timing-function: ease-in-out;
-webkit-transition: 200ms;
-webkit-transition-timing-function: ease-in-out;

  &:hover{
    fill: #fff;
  }
}

.yt {
width: 30px;
height: auto;
transition: 200ms;
transition-timing-function: ease-in-out;
-webkit-transition: 200ms;
-webkit-transition-timing-function: ease-in-out;

  &:hover{
    fill: #fff;
  }
}

.bc {
width: 30px;
height: auto;

transition: 200ms;
transition-timing-function: ease-in-out;
-webkit-transition: 200ms;
-webkit-transition-timing-function: ease-in-out;

  &:hover{
    fill: #fff;
  }
}

li:first-child {
  height: 15px;
}

li:nth-child(2) {
  height: 22px;
}

li:last-child {
  height: 31px;
}

ul {
  height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width:1200px){
    height: 82px;
  }
}

