@font-face {
  font-family: "Gotham";
  font-weight: 900;
  src: url("../fonts/Gotham-Black.woff2") format("woff2"),
       url("../fonts/Gotham-Black.woff") format("woff"),
       url("../fonts/Gotham-Black.ttf") format("ttf");
}