html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #1C2936;
  height: 200vh;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;

}

section {
  height: 100vh;
}